---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-sans text-gray-700 dark:text-gray-200">
    <Header title={SITE_TITLE} />
    <main class="px-7 pb-10">
      <div class="prose m-auto mb-8">
        <h1 class="mb-0">Kevin Chen</h1>
      </div>
      <article>
        <div class="prose m-auto">
          <p>
            Hey, I am Kevin, a software engineer. Currently looking for my next
            role.
          </p>
          <p>
            My interests are in full-stack development, although admittedly I've
            spent more time working in backend systems.
          </p>
          <div class="flex justify-center align-items">
            <figure class="flex flex-col space-y-4">
              <Image
                src="/full-stack-horse.jpg"
                format="webp"
                alt="A pencil-drawn horse, where the rear-side is drawn exquisitely and the front-side looks cartoonish."
                height={200}
                aspectRatio="4:3"
                class="mx-auto"
              />
              <figcaption class="text-center">
                <span class="text-xs font-mono">&#60;sarcasm&#62;</span
                >Hopefully it's not as bad as the "full-stack horse".<span
                  class="text-xs font-mono">&#60;/sarcasm&#62;</span
                >
              </figcaption>
            </figure>
          </div>
          <p>
            Recently, I've acquired experience with React, Typescript, GraphQL,
            and Hasura. More broadly, I've acquired backend experience with SQL
            and NoSQL; scaling out microservices built on Golang; designing APIs
            with GraphQL, REST, gRPC + Protocol Buffers; event-driven
            architectures with Kafka; working with infrastructure on AWS and
            GCP; Docker and Kubernetes; Java/Spring, Rails, etc.
          </p>
          <p>
            Outside of programming, you can find me coaching on a squash court,
            playing bullet chess, or noodling on a guitar.
          </p>
          <hr class="w-[50px] h-0 border-t m-[2em_auto] border-gray-300" />
          <p>
            Find me on <a
              href="https://github.com/kevinmichaelchen"
              target="_blank">GitHub</a
            > or <a href="https://twitter.com/kevinmchen" target="_blank"
              >Twitter</a
            >.
          </p>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
