---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="prose lg:prose-xl">
      <h1 class="text-4xl text-slate-800 mt-6 mb-6">Kevin Chen</h1>
      <p class="mt-4 leading-7 text-slate-600">
        I was inspired to use <a href="https://astro.build/" target="_blank"
          >AstroJS</a
        > since this site will be static, with the rare exception, such as the navbar.
        Astro lets you use any UI framework (e.g., React, Preact, etc) and checks
        a lot of SEO boxes (image optimization, RSS, sitemaps, etc). It's also built
        with the
        <a href="https://docs.astro.build/en/concepts/islands/" target="_blank"
          >Islands Architecture</a
        > in mind so that the client receives as little JS as necessary.
      </p>
    </main>
    <Footer />
  </body>
</html>
