---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export const projects = [
  {
    sectionName: "Golang",
    projects: [
      {
        name: "api-dispatch",
        desc: "A dispatch server for rideshare platforms using H3 geospatial indexing.",
        icon: "i-tabler-car",
        link: "https://github.com/kevinmichaelchen/api-dispatch/",
      },
      {
        name: "api-go-template",
        desc: "A Go starter kit with dependency injection, gRPC, DB, logging, telemetry, etc.",
        icon: "i-tabler-list-check",
        link: "https://github.com/kevinmichaelchen/api-go-template",
      },
    ],
  },
  {
    sectionName: "Frontend",
    projects: [
      {
        name: "this site",
        desc: "Static site built on AstroJS and TailwindCSS.",
        icon: "i-tabler-palette",
        link: "https://github.com/kevinmichaelchen/astrojs-site/",
      },
    ],
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-sans text-gray-700 dark:text-gray-200">
    <Header title={SITE_TITLE} />
    <main class="px-7 pb-10">
      <div class="prose m-auto mb-8">
        <h1 class="mb-0">My Projects</h1>
        <p class="opacity-50 italic -mt-1">List of projects I'm proud of</p>
      </div>
      <article>
        <div class="prose m-auto">
          {projects.map((p) => <ProjectsSection {...p} />)}
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
