---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<a
  href={href}
  class:list={[
    className,
    "flex",
    "justify-center",
    "items-center",
    "text-gray-400",
    "hover:text-gray-700",
    "no-underline",
    { "font-semibold": isActive },
  ]}
  {...props}
>
  <slot />
</a>
