---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/kevinmchen" target="_blank"
      ><div class="i-tabler-brand-twitter"></div>
    </HeaderLink>
    <HeaderLink href="https://github.com/kevinmichaelchen" target="_blank"
      ><div class="i-tabler-brand-github"></div>
    </HeaderLink>
    <HeaderLink href="/rss.xml" target="_blank"
      ><div class="i-tabler-rss"></div>
    </HeaderLink>
    <div class="i-tabler-moon"></div>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
