---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="z-40">
  <a href="/" class="w-10 h-10 absolute lg:fixed m-6 select-none outline-none">
    <img src="/favicon.svg" />
  </a>
  <nav class="p-8 w-full grid grid-cols-[auto_max-content] box-border">
    <div class="m-auto"></div>
    <div class="grid gap-5 grid-flow-col">
      <HeaderLink href="/blog" iconClass="i-tabler-article">Blog</HeaderLink>
      <HeaderLink href="/projects" iconClass="i-tabler-bulb"
        >Projects</HeaderLink
      >
      <HeaderLink href="/about" optional>About</HeaderLink>
      <HeaderLink
        external
        optional
        href="https://twitter.com/kevinmchen"
        iconClass="i-tabler-brand-twitter"
      />
      <HeaderLink
        external
        optional
        href="https://github.com/kevinmichaelchen"
        iconClass="i-tabler-brand-github"
      />
      <HeaderLink external optional href="/rss.xml" iconClass="i-tabler-rss" />
      <div
        class="flex justify-center items-center text-xl text-gray-400 hover:text-gray-700 i-tabler-moon"
      >
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
